.idea/
.vscode/
venv*/
.coverage
coverage.xml
htmlcov/
config.json
.scannerwork/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Copy of files for local docker
local/files/
