.idea/
.vscode/
venv*/
.coverage
coverage.xml
htmlcov/
.scannerwork/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Configuration file may contain passwords
/config.yaml
